In [1]:
# libraries
import pandas as pd
import regex as re
import numpy as np
print('Loaded successfully')

Loaded successfully

In [13]:
# load data into dataframe
columns = ['left_list', 'right_list']
df = pd.read_csv('day1-input.txt',index_col=False,header=None,sep=' ',usecols=[0,3],names=columns)
# this is a really messy way to deal with something that feels like it should be simple tbh

df.head()

   left_list  right_list
0      64256       78813
1      46941       56838
2      47111       50531
3      48819       41511
4      54871       96958

In [38]:
sort_left = df.left_list.sort_values(ignore_index=True)
# ignore_index is needed so that absolute actually pairs by the sorted values, not the original indexing

In [39]:
sort_right = df.right_list.sort_values(ignore_index=True)

In [42]:
# answer to Part 1
np.absolute(sort_left - sort_right).sum()

2166959

In [43]:
sort_left.head()

0    10030
1    10065
2    10146
3    10187
4    10193
Name: left_list, dtype: int64

In [44]:
sort_right.head()

0    10155
1    10254
2    10338
3    10519
4    11046
Name: right_list, dtype: int64

In [71]:
# sorting no longer matters for part 2
# count column looks at each entry in left_list, and finds how many matches are in right_list, defaulting to 0 if none are found
df["count"] = df['left_list'].map(df['right_list'].value_counts()).fillna(0)

In [72]:
# answer to part 2
sum(df['left_list'] * df['count'])

23741109.0